a.btn {
  text-decoration: none;
  border: 1px solid var(--heighlight-color);
  background-color: var(--heighlight-color);
  color: var(--background-primary);
  
  border-radius: 5px;
  padding: 0.5em 1em;

  @media screen and (min-width: 700px) and (min-height: 700px) {
    border-radius: 0.5vmin;
    padding: 1vmin 2vmin;
  }
}
a.btn:hover {
  background-color: var(--background-primary);
  color: var(--heighlight-color);
}


