h2:first-child {
  margin-top: 0;
}

.section-content {
    @media screen and (min-width: 1000px) {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.up {
  position: fixed;
  bottom: calc(var(--section-padding) / 2);
  right: var(--section-padding);
}

/* .dojo-section */
.dojo-section{
  .dojo-logo {
    width: 25vmin;
    max-width: var(--circle-element-max-diameter);
    margin: 5vmin auto;
    
    @media screen and (min-width: 600px) {
        margin: 0 5vmin 5vmin 0;
        float: left;
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  } 
}