.viewport-one {
  background-position: center;
  background-image: url('../assets/stones.png');
  background-size: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    text-shadow: 0 0 10px var(--background-primary);
  }
}

.circle-container {
  position: relative;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: 50%;
  /* border: 1px solid #ccc; */
}

.circle {
  position: absolute;
  width: var(--circle-element-diameter);
  height: var(--circle-element-diameter);
  max-width: var(--circle-element-max-diameter);
  max-height: var(--circle-element-max-diameter);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  img {
      max-width: 100%;
      max-height: 100%;
  }
}

.center-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 100;
}

.circle-element {
  font-weight: bold;
}

.circle-title {
  text-align: center;
}
