:root {
  --section-padding: 10vmin;
  --circle-diameter: 80vmin;
  --circle-element-diameter: 22vmin;
  --circle-element-max-diameter: 400px;
  --social-media-icon-size: 3vmin;

  --dark-green: #1a3524;
  --light-green: #243f2c;

  --background-primary: #ddcca4;
  --background-secondary: #d4c193;
  --border-color: var(--dark-green);
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.5vmin;;
}

section {
  min-height: 100vh;
  margin: 0;
  padding: calc(var(--section-padding) / 2) var(--section-padding) var(--section-padding) var(--section-padding);
  background-color: var(--background-primary);
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid var(--border-color);

  &:nth-child(odd) {
      background-color: var(--background-secondary);
  }
  &:first-child {
      border-top: none;
  }
}

footer {
  padding: calc(var(--section-padding) / 2) var(--section-padding);
}

a.btn {
  text-decoration: none;
  border: 1px solid var(--dark-green);
  background-color: var(--dark-green);
  color: var(--background-primary);
  border-radius: 0.5vmin;
  padding: 0.5vmin 1vmin;
}
a.btn:hover {
  background-color: var(--background-primary);
  color: var(--dark-green);
}

.up {
  position: absolute;
  bottom: calc(var(--section-padding) / 2);
  right: var(--section-padding);
}

.viewport-one {
  background-position: center;
  background-image: url('../src/assets/stones.png');

    display: flex;
    justify-content: center;
    align-items: center;

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  text-align: center;
  font-size: 3.5vmin;
  margin-top: 0;
  margin-bottom: 5vmin;
  padding: 0;
  color: var(--dark-green);
  text-shadow: 0 0 10px var(--background-primary);
}

.circle-container {
  position: relative;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  border-radius: 50%;
  /* border: 1px solid #ccc; */
}

.circle {
  position: absolute;
  width: var(--circle-element-diameter);
  height: var(--circle-element-diameter);
  max-width: var(--circle-element-max-diameter);
  max-height: var(--circle-element-max-diameter);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  img {
      max-width: 100%;
      max-height: 100%;
  }
}

.center-element {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  z-index: 100;
}

.circle-element {
  font-weight: bold;
}

.circle-title {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 1vmin;
}

.social-icon {
  padding: 1.5vmin 1vmin;
 
  i {
  display: block;
  width: var(--social-media-icon-size);
  height: var(--social-media-icon-size);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  &.facebook {
    background-image: url('assets/facebook.png');
  }
  &.gmaps {
    background-image: url('assets/google-maps.png');
  }
 }
}

h2:first-child {
  margin-top: 0;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: var(--circle-element-diameter);
  height: var(--circle-element-diameter);
  border-radius: 50%;
    
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
  border-radius: 50%;
  background-color: var(--light-green);
  background-position: center;
  background-image: url('../src/assets/stones.png');
  background-size: 60%;
  box-shadow: 0px 0px 10px var(--dark-green);
  color: var(--background-primary);
  
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);

  a.btn {
    border-color: var(--background-primary);
    background-color: var(--background-primary);
    color: var(--dark-green);
  }
  a.btn:hover {
    background-color: var(--dark-green);
    color: var(--background-primary);
  }
}

.flip-card-back-inner {
  padding: 4vmin;
}

